/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ----------------- Global Styles-----------------  */

  body
  {
    font-family: 'Gemunu Libre', sans-serif;
    margin:0;
  }

  header.primary
  {
    background-color:darkviolet;
    text-align:center;
    color:#fff;

    /*long form
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
    */

    /*short hand (top right bottom left
    padding: 40px 40px 40px 40px;
    */

    /*shorter hand if opposite sides are equal (top/bottom right/left
    padding: 40px 40px;
    */

    /*shorter hand if all values are the same*/
    padding: 40px;

    text-shadow: 1px 1px #000000;
  }

  header.primary h1
  {
    font-size: 2.6rem;
    margin: 20px 0;
  }

  header.primary h1 a
  {
    color:#fff;
    text-decoration:none;
  }

  /*COLOR THEME

  Color Theme Swatches in Hex
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-1-hex { color: #D9A404; }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-2-hex { color: #F28705; }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-3-hex { color: #733702; }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-4-hex { color: #D95204; }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-5-hex { color: #731702; }

Color Theme Swatches in RGBA
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-1-rgba { color: rgba(216, 163, 4, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-2-rgba { color: rgba(242, 135, 4, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-3-rgba { color: rgba(114, 54, 2, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-4-rgba { color: rgba(216, 82, 4, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-5-rgba { color: rgba(114, 22, 2, 1); }

Color Theme Swatches in HSLA
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-1-hsla { color: hsla(44, 96, 43, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-2-hsla { color: hsla(33, 96, 48, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-3-hsla { color: hsla(28, 96, 22, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-4-hsla { color: hsla(22, 96, 43, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-5-hsla { color: hsla(11, 96, 22, 1); }
*/