/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ---------------Utility Classes----------------- */

/*target anything with container class*/
.container
{
  /*width is 70% of view width*/
  width:70vw;

  /*margin is 40px top/bottom and auto on left/right*/
  margin: 40px auto;

  max-width:960px;
}



  /* ----------------- Global Styles-----------------  */

  body
  {
    font-family: 'Gemunu Libre', sans-serif;
    margin:0;
  }

  header.primary
  {
    background-color:#F28705;
    text-align:center;
    color:#fff;

    /*long form
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
    */

    /*short hand (top right bottom left
    padding: 40px 40px 40px 40px;
    */

    /*shorter hand if opposite sides are equal (top/bottom right/left
    padding: 40px 40px;
    */

    /*shorter hand if all values are the same*/
    padding: 40px;

    text-shadow: 1px 1px #000000;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23731702' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  header.primary h1
  {
    font-size: 2.6rem;
    margin: 20px 0;
  }

  header.primary h1 a
  {
    color:#fff;
    text-decoration:none;
  }

  header.primary h2
  {
    font-size:1.4rem;
    /* top | left/right | bottom */
    margin: 20px auto 40px;
  }

  header.primary nav
  {
    max-width:960px;
  }

  header.primary ul
  {
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
  }

  header.primary li
  {
    list-style-type:none;
  }

  header.primary nav a
  {
    color:#fff;
    text-decoration:none;
    background:rgba(0,0,0,.5);
    padding:8px 16px;
    border-radius: 10px;

    /*adds transition for when the user hovers over the link*/
    transition:.5s;

    /* width | stroke type | color */
    border:1px solid rgba(0,0,0,.65);
  }

  header.primary nav a:hover, header.primary nav a:active
  {
    background:rgba(0,0,0,.8);
  }

  /*when screen is less than max-width, the ayout changes to this*/
  @media screen and (max-width:600px)
  {
    header.primary ul
    {
      flex-direction:column;
      width:50vw;
      margin: 0 auto;
    }

    header.primary nav a
    {
      display:block;
    }

    header.primary nav li
    {
      margin-bottom:10px;
    }
  }

  /*COLOR THEME*/

  Color Theme Swatches in Hex
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-1-hex { color: #D9A404; }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-2-hex { color: #F28705; }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-3-hex { color: #733702; }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-4-hex { color: #D95204; }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-5-hex { color: #731702; }

Color Theme Swatches in RGBA
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-1-rgba { color: rgba(216, 163, 4, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-2-rgba { color: rgba(242, 135, 4, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-3-rgba { color: rgba(114, 54, 2, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-4-rgba { color: rgba(216, 82, 4, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-5-rgba { color: rgba(114, 22, 2, 1); }

Color Theme Swatches in HSLA
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-1-hsla { color: hsla(44, 96, 43, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-2-hsla { color: hsla(33, 96, 48, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-3-hsla { color: hsla(28, 96, 22, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-4-hsla { color: hsla(22, 96, 43, 1); }
.Beautiful-autumn-landscape-with.-Colorful-foliage-in-the-park.-Falling-leaves-natural-background-5-hsla { color: hsla(11, 96, 22, 1); }
